[hyoo_sketch_page_frame_content] {
	background-color: white;
	background-image:
		linear-gradient(var(--mol_theme_line), transparent 1px),
		linear-gradient(90deg, var(--mol_theme_line) , transparent 1px);
	background-size: 10px 10px;
	box-sizing: content-box;
    background-position: -1px -1px;
}
